<html>
    <head>
        <meta charset='utf-8'>
        <title>Speed Login</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            console.log("index.ejs initialized");
            $(document).ready(function(){
                console.log("ejs - doc ready");
                var socket = io.connect()
                    $('#speed').submit(function(){
                        console.log('ejs - login route');
                        var new_user = {
                            name: $("#name").val(),
                            about: $("#about").val(),
                        }
                        socket.emit('speed', new_user);
                        

                    });
                socket.on('server_response', function(data){
                    console.log('server response', data);
                });
            });
        </script>
    </head>
    <body>
        <h1>Speed Login</h1>
        <strong><p>Tell the community about yourself...</p></strong>
        <form action="/speed" id='speed' method='post'>
        <div>Name:<input type='text' id='name' name='name'></div>
        About you:<div><textarea name='about' id='about' cols='30' rows='30'></textarea></div>
        <input type='submit' id='speed' name='submit' value='Login'>
        </form>
    </body>
</html>