
#user {
    background-color:beige;
    width:auto;
    height:150px;
    text-align: center;
    padding:5px;
}
p {
    background-color: lightblue;
    width:150px;
    height:90px;
    text-align: center;
    padding:5px;
    border: 2px solid #003B62;
    float: left;
    margin-right: 5px;
    
}
#chat_area {
    background-color: turquoise;
    height: auto;
    width: 90%;
}
m {
    background-color: turquoise;
    width:80%;
    height: 50px;
    display: block;
}
